[submodule "difftest"]
	path = difftest
	url = https://github.com/AugustusWillisWang/difftest.git
[submodule "riscv-spec-core"]
	path = riscv-spec-core
	url = git@github.com:liuyic00/riscv-spec-core.git
[submodule "chisel-testers2"]
	path = chisel-testers2
	url = git@github.com:log-when/chisel-testers2.git
	branch = extend_sva
