[submodule "difftest"]
	path = difftest
	url = https://github.com/AugustusWillisWang/difftest.git
[submodule "riscv-spec-core"]
	path = riscv-spec-core
	url = https://github.com/liuyic00/riscv-spec-core.git
